In [1]:
# Imports
import os
import re
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, MultiLabelBinarizer, FunctionTransformer

from sklearn.experimental import enable_iterative_imputer  # noqa
from sklearn.impute import IterativeImputer
from sklearn.linear_model import BayesianRidge
from sklearn.ensemble import RandomForestRegressor

In [2]:
# Directory config to project root to insure consistency across environments for project specific imports
from pyprojroot import here
os.chdir(here())

# Project specific imports
from src.utils import save_dataframe

## Data Quering and Loading

In [3]:
# DB related imports
# from database.db_utils import init_db
# from config.config_loader import load_config
# from database.queries import prepped_data_query
# from sqlalchemy import text

# # Initialize local PostgreSQL session
# Session = init_db(load_config("DB_URL"))
# session = Session()

# # Execute and fetch results
# data = session.execute(text(prepped_data_query))

# # Close the session
# session.close()

# # Convert to DataFrame
# data = pd.DataFrame(data.fetchall(), columns=data.keys())

In [4]:
# Saving cleaned dataset for future use
# save_dataframe(data, "00_base_data.csv")

In [5]:
# Load dataset
data = pd.read_csv("./data/00_base_data.csv")

## Initial Data Overview

In [6]:
# data["missing_budget"] = (data["budget"] == 0).astype(int)
# data["missing_revenue"] = (data["revenue"] == 0).astype(int)

In [7]:
# data["budget"] = data["budget"].replace(0, np.nan)
# data["revenue"] = data["revenue"].replace(0, np.nan)

In [8]:
# data = data[(data["budget"] != 0) & (data["revenue"] != 0)]

In [9]:
# data = data[(data["budget"] != 0) | (data["revenue"] != 0)]

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3003 entries, 0 to 3002
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   title                    3003 non-null   object
 1   release_date             3003 non-null   object
 2   tmdb_vote_count          3003 non-null   int64
 3   tmdb_vote_average        3003 non-null   float64
 4   genre_names              3003 non-null   object
 5   budget                   1594 non-null   float64
 6   revenue                  1816 non-null   float64
 7   runtime_in_min           3001 non-null   float64
 8   tmdb_popularity          3003 non-null   float64
 9   production_company_name  2990 non-null   object
 10  production_country_name  2998 non-null   object
 11  spoken_languages         3001 non-null   object
 12  director                 3001 non-null   object
 13  writer                   2972 non-null   object
 14  actors                   2997 non-null   object
 15  imdb_rating              2995 non-null   float64
 16  imdb_votes               2997 non-null   object
 17  metascore                2222 non-null   float64
 18  age_rating               2727 non-null   object
 19  awards                   2439 non-null   object
 20  rotten_tomatoes_rating   2536 non-null   float64
 21  meta_critic_rating       2222 non-null   float64
dtypes: float64(9), int64(1), object(12)
memory usage: 516.3+ KB

In [11]:
# Count missing values
data.isnull().sum()

title                         0
release_date                  0
tmdb_vote_count               0
tmdb_vote_average             0
genre_names                   0
budget                     1409
revenue                    1187
runtime_in_min                2
tmdb_popularity               0
production_company_name      13
production_country_name       5
spoken_languages              2
director                      2
writer                       31
actors                        6
imdb_rating                   8
imdb_votes                    6
metascore                   781
age_rating                  276
awards                      564
rotten_tomatoes_rating      467
meta_critic_rating          781
dtype: int64

In [12]:
data.head(5)

,title,release_date,tmdb_vote_count,tmdb_vote_average,genre_names,budget,revenue,runtime_in_min,tmdb_popularity,production_company_name,...,director,writer,actors,imdb_rating,imdb_votes,metascore,age_rating,awards,rotten_tomatoes_rating,meta_critic_rating
0,Carter,2022-08-05,378,6.000,"Action, Thriller, Crime",NaN,NaN,132.0,27.043,Apeitda,...,Jung Byung-gil,"Jung Byung-gil, Byeong-sik Jung","Joo Won, Kim Bo-min, Lee Sung-jae",5.1,"10,297",NaN,TV-MA,NaN,32.0,NaN
1,The Shadow in My Eye,2021-10-28,494,7.829,"War, Drama, History",NaN,NaN,107.0,16.008,Miso Film,...,Ole Bornedal,Ole Bornedal,"Bertram Bisgaard Enevoldsen, Ester Birch, Ella...",7.3,"17,277",NaN,TV-MA,2 wins & 13 nominations,NaN,NaN
2,Noelle,2019-11-12,673,6.595,"Family, Comedy, Fantasy",NaN,NaN,100.0,10.040,Walt Disney Pictures,...,Marc Lawrence,Marc Lawrence,"Anna Kendrick, Shirley MacLaine, Bill Hader",6.3,"28,616",48.0,G,1 win total,56.0,48.0
3,Play,2019-09-04,349,7.278,Comedy,NaN,NaN,108.0,5.214,"Chapter 2, Moonshaker",...,Anthony Marciano,"Max Boublil, Anthony Marciano","Max Boublil, Alice Isaaz, Malik Zidi",7.2,"1,755",NaN,NaN,1 nomination,NaN,NaN
4,Dave Chappelle: Sticks & Stones,2019-08-26,320,7.600,Comedy,NaN,NaN,65.0,7.683,NaN,...,Stan Lathan,Dave Chappelle,Dave Chappelle,8.3,"28,457",NaN,TV-MA,Won 3 Primetime Emmys. 4 wins & 5 nominations ...,42.0,NaN

## Multilable Categorical Features

There are a nuymber of multilable categorical features that will need to be looked into.

In [13]:
def count_unique_values_for_feature(df: pd.DataFrame, feature: str, delimiter: str = ",") -> int:
    """
    Splits the specified feature column by the delimiter and returns the number of unique values.

    Args:
        df (pd.DataFrame): The DataFrame containing the data.
        feature (str): The name of the column to process.
        delimiter (str): The delimiter used to separate multiple values in the column.

    Returns:
        int: The number of unique values.
    """
    return len(df[feature].dropna().str.split(rf"{delimiter}\s*").explode().unique())

# List of features you want to analyze:
features = [
    "genre_names", 
    "production_company_name", "production_country_name", 
            "spoken_languages", "director", "writer", "actors"]

# Create a dictionary with the counts for each feature:
unique_counts = {feature: count_unique_values_for_feature(data, feature) for feature in features}

# Display the results:
for feature, count in unique_counts.items():
    print(f"{feature}: {count} unique values")

genre_names: 19 unique values
production_company_name: 4358 unique values
production_country_name: 83 unique values
spoken_languages: 89 unique values
director: 2251 unique values
writer: 4593 unique values
actors: 4961 unique values

In [14]:
def print_top_categories(df: pd.DataFrame, column: str, top_n: int, delimiter: str = ",", others_label: str = "Others") -> None:
    """
    Prints the top_n unique values from a multi-label column and the total count of values 
    that fall outside the top_n (which would be grouped as 'Others').

    Args:
        df (pd.DataFrame): The DataFrame containing your data.
        column (str): The name of the multi-label column.
        top_n (int): The number of top categories to display.
        delimiter (str): The delimiter separating multiple values (default is a comma).
        others_label (str): The label used for less frequent values.
    """
    # Split the column into individual values and count frequencies
    exploded = df[column].dropna().str.split(rf"{delimiter}\s*").explode().str.strip()
    counts = exploded.value_counts()
    
    # Get the top N categories and the sum for the rest
    top_categories = counts.head(top_n)
    others_count = counts[counts.index.difference(top_categories.index)].sum()
    
    print("--------------------------------------------------||")
    print(f"Top {top_n} unique values for '{column}':")
    print(top_categories)
    print(f"Total count of all other values (will be grouped as '{others_label}'): {others_count}")
    print("--------------------------------------------------||\n")


top_values = {
    "genre_names": 20,
    "production_company_name": 20,
    "production_country_name": 10,
    "spoken_languages": 10,
    "director": 20,
    "writer": 20,
    "actors": 20
}

for feature, top_n in top_values.items():
    print_top_categories(data, feature, top_n)

--------------------------------------------------||
Top 20 unique values for 'genre_names':
genre_names
Drama              1292
Comedy              976
Thriller            864
Action              735
Horror              514
Adventure           487
Romance             401
Crime               393
Science Fiction     388
Fantasy             371
Family              301
Mystery             300
Animation           294
History             189
War                  92
Music                89
Documentary          59
TV Movie             29
Western              27
Name: count, dtype: int64
Total count of all other values (will be grouped as 'Others'): 0
--------------------------------------------------||

--------------------------------------------------||
Top 20 unique values for 'production_company_name':
production_company_name
Universal Pictures          109
Lionsgate                    91
Columbia Pictures            81
Paramount Pictures           77
Warner Bros. Pictures        76
Walt Disney Pictures         63
Canal+                       61
StudioCanal                  57
France 2 Cinéma              51
Blumhouse Productions        51
Ciné+                        48
Ingenious Media              47
Bron Studios                 46
TSG Entertainment            46
FilmNation Entertainment     43
New Line Cinema              43
Film4 Productions            42
STXfilms                     42
20th Century Fox             42
Pathé                        40
Name: count, dtype: int64
Total count of all other values (will be grouped as 'Others'): 10262
--------------------------------------------------||

--------------------------------------------------||
Top 10 unique values for 'production_country_name':
production_country_name
United States of America    2078
United Kingdom               484
France                       414
Canada                       249
Belgium                      139
Italy                        122
Germany                      119
Spain                        117
Japan                        113
China                        110
Name: count, dtype: int64
Total count of all other values (will be grouped as 'Others'): 801
--------------------------------------------------||

--------------------------------------------------||
Top 10 unique values for 'spoken_languages':
spoken_languages
English       2424
French         415
Spanish        361
Italian        193
German         155
Japanese       130
Russian        103
Portuguese      87
Mandarin        85
Korean          70
Name: count, dtype: int64
Total count of all other values (will be grouped as 'Others'): 534
--------------------------------------------------||

--------------------------------------------------||
Top 20 unique values for 'director':
director
Sam Liu               12
Guy Ritchie            7
David Leitch           7
Taika Waititi          7
Wes Anderson           7
Tyler Perry            6
Antoine Fuqua          6
Ridley Scott           6
Clint Eastwood         6
Zack Snyder            6
Quentin Dupieux        6
Steven Soderbergh      6
Paolo Sorrentino       5
Mike Flanagan          5
Doug Liman             5
M. Night Shyamalan     5
Jaume Collet-Serra     5
David Gordon Green     5
McG                    5
Woody Allen            5
Name: count, dtype: int64
Total count of all other values (will be grouped as 'Others'): 3196
--------------------------------------------------||

--------------------------------------------------||
Top 20 unique values for 'writer':
writer
Stan Lee              13
Stephen King          11
Bob Kane              10
Michael Green          9
Rhett Reese            9
Paul Wernick           9
Peter Craig            8
Wes Anderson           7
Jack Thorne            7
Shay Hatten            7
Nicola Guaglianone     7
James Wan              7
Roald Dahl             7
Bryan Woods            7
Scott Beck             6
Jérémie Guez           6
Mike White             6
Matt Lieberman         6
Chris Sparling         6
Richard Wenk           6
Name: count, dtype: int64
Total count of all other values (will be grouped as 'Others'): 6255
--------------------------------------------------||

--------------------------------------------------||
Top 20 unique values for 'actors':
actors
Nicolas Cage         25
Samuel L. Jackson    17
Ryan Reynolds        17
Dwayne Johnson       16
Mark Wahlberg        16
Dave Bautista        16
Tom Hanks            16
Nicole Kidman        15
Kevin Hart           15
Woody Harrelson      15
Elle Fanning         14
Adam Driver          14
Anna Kendrick        14
Chris Hemsworth      13
Gerard Butler        13
Bruce Willis         13
Jake Gyllenhaal      13
Ben Affleck          13
Adam Sandler         13
Margot Robbie        13
Name: count, dtype: int64
Total count of all other values (will be grouped as 'Others'): 8688
--------------------------------------------------||

In [15]:
def group_top_categories(df: pd.DataFrame, column: str, top_n: int, delimiter: str = ",", others_label: str = "Others") -> pd.Series:
    """
    Processes a multi-label column by keeping only the top_n categories (based on frequency) 
    and replacing any other category with the 'others_label'.

    Args:
        df (pd.DataFrame): The DataFrame containing your data.
        column (str): The name of the multi-label column.
        top_n (int): The number of top categories to keep.
        delimiter (str): The delimiter separating multiple values in the column.
        others_label (str): The label to use for all categories not in the top_n.

    Returns:
        pd.Series: A new Series with the modified values.
    """
    # Split the column and count frequencies
    exploded = df[column].dropna().str.split(rf"{delimiter}\s*").explode().str.strip()
    counts = exploded.value_counts()
    top_categories = counts.head(top_n).index.tolist()
    
    def map_categories(cell):
        if pd.isna(cell):
            return cell
        cats = [cat.strip() for cat in cell.split(delimiter)]
        # Replace any category not in top_categories with others_label
        new_cats = [cat if cat in top_categories else others_label for cat in cats]
        # Remove duplicates while preserving order
        seen = set()
        new_cats = [x for x in new_cats if x not in seen and not seen.add(x)]
        return delimiter.join(new_cats)
    
    return df[column].apply(map_categories)

top_values = {
    # "genre_names": 20,  # Keeping all genres
    # "production_company_name": 20,  # Too granular
    "production_country_name": 5,
    "spoken_languages": 5,
    # "director": 20,  # Too granular
    # "writer": 20,  # Too granular
    # "actors": 20  # Too granular
}

for feature, top_n in top_values.items():
    data[feature] = group_top_categories(data, feature, top_n)

# data.head()

## Handling Nulls

### Simple Imputer

#### Categorical Imputer

In [16]:
from sklearn.compose import make_column_selector

num_cols = make_column_selector(dtype_include=['number'])
num_cols = num_cols(data)
print(num_cols)

['tmdb_vote_count', 'tmdb_vote_average', 'budget', 'revenue', 'runtime_in_min', 'tmdb_popularity', 'imdb_rating', 'metascore', 'rotten_tomatoes_rating', 'meta_critic_rating']

In [ ]:
from sklearn.compose import make_column_selector

num_cols = make_column_selector(dtype_include=['number'])
cat_cols = make_column_selector(dtype_include=['object'])

preprocessor = ColumnTransformer(transformers=[
    ('num', IterativeImputer(), num_cols),
    ('cat', OneHotEncoder(handle_unknown='ignore'), cat_cols)
])

In [ ]:
cat_cols = ['production_company_name', 'production_country_name', 'spoken_languages', 'director', 'writer', 'actors', 'age_rating']
zero_cols = ['imdb_rating', 'imdb_votes']
# median_cols = []
iter_cols = ['metascore', 'rotten_tomatoes_rating', 'meta_critic_rating']
predictor_cols = [
    'tmdb_vote_count', 'tmdb_vote_average', 'runtime_in_min', 'tmdb_popularity', 'metascore', 'rotten_tomatoes_rating', 
    'meta_critic_rating', 'metascore_missing', 'rotten_tomatoes_rating_missing', 'meta_critic_rating_missing',
    ]
# predictor_cols = ['tmdb_vote_count', 'tmdb_vote_average']
full_iter_cols = iter_cols + predictor_cols

In [ ]:
# Create a transformer for categorical features
cat_imputer = SimpleImputer(strategy="constant", fill_value="Unknown")

# List of your categorical columns where you want to replace nulls with "Unknown"
cat_cols = ['production_company_name', 'production_country_name', 'spoken_languages', 'director', 'writer', 'actors', 'age_rating']

cat_pipeline = Pipeline(steps=[
    ('cat_imputer', cat_imputer)
    # ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

In [55]:
# Apply imputer
# data[cat_cols] = cat_imputer.fit_transform(data[cat_cols])
# data.head(30)

In [ ]:
zero_imputer = SimpleImputer(strategy='constant', fill_value=0)
zero_cols = ['imdb_rating', 'imdb_votes']

zero_pipeline = Pipeline(steps=[
    ('zero_imputer', SimpleImputer(strategy='constant', fill_value=0))
    # ('scaler', StandardScaler())  # Uncomment to scale these columns
])

In [56]:
# Apply imputer
# data[zero_cols] = zero_imputer.fit_transform(data[zero_cols])
# data.head(15)

In [ ]:
# median_imputer = SimpleImputer(strategy='median')
# median_cols = []

# median_pipeline = Pipeline(steps=[
#     ('median_imputer', median_imputer)
#     ('scaler', StandardScaler())  # Uncomment to scale these columns
# ])

In [ ]:
# # Apply imputer
# data[median_cols] = median_imputer.fit_transform(data[median_cols])
# data.head(30)

In [ ]:
# Initialize the IterativeImputer (using BayesianRidge as the default estimator)
iter_imputer = IterativeImputer(
    estimator=BayesianRidge(),
    # estimator=RandomForestRegressor(n_estimators=100, random_state=42),
    max_iter=10,
    initial_strategy='median',
    n_nearest_features=None,
    imputation_order='ascending',
    random_state=42
    )

iter_cols = ['metascore', 'rotten_tomatoes_rating', 'meta_critic_rating']

iter_pipeline = Pipeline(steps=[
    ('cat_imputer', iter_imputer)
    # ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

In [47]:
from sklearn.compose import make_column_selector

num_cols = make_column_selector(dtype_include=['number'])
num_cols = num_cols(data)
print(num_cols)

['tmdb_vote_count', 'tmdb_vote_average', 'budget', 'revenue', 'runtime_in_min', 'tmdb_popularity', 'imdb_rating', 'metascore', 'rotten_tomatoes_rating', 'meta_critic_rating']

In [48]:
predictor_cols = [
    'tmdb_vote_count', 'tmdb_vote_average', 'runtime_in_min', 'tmdb_popularity', 'metascore', 'rotten_tomatoes_rating', 
    'meta_critic_rating', 'metascore_missing', 'rotten_tomatoes_rating_missing', 'meta_critic_rating_missing',
    ]
# predictor_cols = ['tmdb_vote_count', 'tmdb_vote_average']
full_iter_cols = iter_cols + predictor_cols

In [49]:
# Create missing indicator columns for each score column
for col in iter_cols:
    data[col + "_missing"] = data[col].isnull().astype(int)

# data.head(20)

In [65]:
def add_missing_indicators(df: pd.DataFrame) -> pd.DataFrame:
    df = df.copy()
    for col in df.columns:
        df[col + "_missing"] = df[col].isnull().astype(int)
    return df

missing_indicator_transformer = FunctionTransformer(add_missing_indicators, validate=False)

In [57]:
# Apply imputer
# data[num_cols] = iter_imputer.fit_transform(data[num_cols])
# data.head(30)

In [ ]:
# Define a function transformer to drop unwanted columns.
def drop_unwanted_columns(X):
    return X.drop(columns=columns_to_drop, errors='ignore')

dropper = FunctionTransformer(drop_unwanted_columns)

columns_to_drop = []

In [ ]:
preprocessor = ColumnTransformer(
    transformers=[
        ('zero', zero_pipeline, zero_cols),
        # ('median', median_pipeline, median_cols),
        ('cat', cat_pipeline, cat_cols),
        # ('iter', iter_pipeline, iter_cols),
        # ('missing_indicator', missing_indicator_transformer, iter_cols),
        # ('dropper', dropper, columns_to_drop)
    ],
    remainder='passthrough'
)

# Set output to pandas dataframe
preprocessor.set_output(transform='pandas')

transformed_data_3 = preprocessor.fit_transform(data)

# Column adjustment
new_columns = [col.split("__", 1)[-1] for col in transformed_data_3.columns]
transformed_data_3.columns = new_columns

transformed_data_3.head()

,imdb_rating,imdb_votes,production_company_name,production_country_name,spoken_languages,director,writer,actors,age_rating,metascore,...,tmdb_vote_average,genre_names,budget,revenue,runtime_in_min,tmdb_popularity,awards,metascore_missing,rotten_tomatoes_rating_missing,meta_critic_rating_missing
0,5.1,"10,297",Apeitda,Others,"English,Others",Jung Byung-gil,"Jung Byung-gil, Byeong-sik Jung","Joo Won, Kim Bo-min, Lee Sung-jae",TV-MA,NaN,...,6.000,"Action, Thriller, Crime",NaN,NaN,132.0,27.043,NaN,1,0,1
1,7.3,"17,277",Miso Film,Others,Others,Ole Bornedal,Ole Bornedal,"Bertram Bisgaard Enevoldsen, Ester Birch, Ella...",TV-MA,NaN,...,7.829,"War, Drama, History",NaN,NaN,107.0,16.008,2 wins & 13 nominations,1,1,1
2,6.3,"28,616",Walt Disney Pictures,United States of America,"English,French",Marc Lawrence,Marc Lawrence,"Anna Kendrick, Shirley MacLaine, Bill Hader",G,48.0,...,6.595,"Family, Comedy, Fantasy",NaN,NaN,100.0,10.040,1 win total,0,0,0
3,7.2,"1,755","Chapter 2, Moonshaker",France,French,Anthony Marciano,"Max Boublil, Anthony Marciano","Max Boublil, Alice Isaaz, Malik Zidi",Unknown,NaN,...,7.278,Comedy,NaN,NaN,108.0,5.214,1 nomination,1,1,1
4,8.3,"28,457",Unknown,United States of America,English,Stan Lathan,Dave Chappelle,Dave Chappelle,TV-MA,NaN,...,7.600,Comedy,NaN,NaN,65.0,7.683,Won 3 Primetime Emmys. 4 wins & 5 nominations ...,1,0,1

In [ ]:
# Column Groups



iter_cols = ['metascore', 'rotten_tomatoes_rating', 'meta_critic_rating']
predictor_cols = [
    'tmdb_vote_count', 'tmdb_vote_average', 'runtime_in_min', 'tmdb_popularity', 'metascore', 'rotten_tomatoes_rating', 
    'meta_critic_rating', 'metascore_missing', 'rotten_tomatoes_rating_missing', 'meta_critic_rating_missing',
    ]
full_iter_cols = iter_cols + predictor_cols
            
# Columns you want to drop after imputation (for example, identifiers or irrelevant features)
# drop_cols = ['unnecessary_column1', 'unnecessary_column2']

# Create individual pipelines for each group:

zero_pipeline = Pipeline(steps=[
    ('zero_imputer', SimpleImputer(strategy='constant', fill_value=0))
    # ('scaler', StandardScaler())  # Uncomment to scale these columns
])

median_pipeline = Pipeline(steps=[
    ('median_imputer', SimpleImputer(strategy='median'))
    # ('scaler', StandardScaler())  # Uncomment to scale these columns
])

cat_pipeline = Pipeline(steps=[
    ('cat_imputer', SimpleImputer(strategy='constant', fill_value='Unknown'))
    # ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

iter_pipeline = Pipeline(steps=[
    ('cat_imputer', iter_imputer)
    # ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# impute_pipeline = Pipeline(steps=[
#     ('iter_impute', iter_imputer),
# ])

# Combine them in a ColumnTransformer.
# Any columns not mentioned in the transformers will be left unchanged due to remainder='passthrough'.
preprocessor = ColumnTransformer(
    transformers=[
        ('zero', zero_pipeline, zero_cols),
        # ('median', median_pipeline, median_cols),
        ('cat', cat_pipeline, cat_cols),
    ],
    remainder='passthrough'
)

# Set output to pandas dataframe
preprocessor.set_output(transform='pandas')

# Define a function transformer to drop unwanted columns.
def drop_unwanted_columns(X):
    # Assuming X is a pandas DataFrame; errors='ignore' ensures that missing columns are skipped.
    return X.drop(columns=columns_to_drop, errors='ignore')

dropper = FunctionTransformer(drop_unwanted_columns)


# iter_cols = ['remainder__metascore', 'remainder__rotten_tomatoes_rating', 'remainder__meta_critic_rating']

# IterativeImputer applied only to selected columns
iter_imputer = ColumnTransformer(
    transformers=[
        ('iter', iter_imputer, iter_cols)
    ],
    remainder='passthrough'
)

# Set output to pandas dataframe
iter_imputer.set_output(transform='pandas')

# Now, build the full pipeline.
# Note: The IterativeImputer should be applied after the initial imputations, so it comes after the ColumnTransformer and dropper.
full_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('dropper', dropper),
    # ('iter_imputer', iter_imputer),
    # ('scaler', StandardScaler()),  # Optionally, scale after imputation.
    # ('encoder', OneHotEncoder(handle_unknown='ignore'))  # Optionally, if you need additional encoding.
])

# Example usage:
# Assume 'data' is your DataFrame with the full set of features.
# You can then fit_transform the pipeline on your training data:
transformed_data = full_pipeline.fit_transform(data)

# Column adjustment
# new_columns = [col.split("__", 1)[-1] for col in transformed_data.columns]
# transformed_data.columns = new_columns
transformed_data.head()

# If you need the result back as a DataFrame, you can do:
# (Here, we assume that the preprocessor returns a DataFrame; if it returns an array, you'll have to set column names accordingly.)
# transformed_df = pd.DataFrame(transformed_data)
# transformed_df.head()

,zero__imdb_rating,zero__imdb_votes,cat__production_company_name,cat__production_country_name,cat__spoken_languages,cat__director,cat__writer,cat__actors,cat__age_rating,remainder__title,...,remainder__revenue,remainder__runtime_in_min,remainder__tmdb_popularity,remainder__metascore,remainder__awards,remainder__rotten_tomatoes_rating,remainder__meta_critic_rating,remainder__metascore_missing,remainder__rotten_tomatoes_rating_missing,remainder__meta_critic_rating_missing
0,5.1,"10,297",Apeitda,Others,"English,Others",Jung Byung-gil,"Jung Byung-gil, Byeong-sik Jung","Joo Won, Kim Bo-min, Lee Sung-jae",TV-MA,Carter,...,NaN,132.0,27.043,NaN,NaN,32.0,NaN,1,0,1
1,7.3,"17,277",Miso Film,Others,Others,Ole Bornedal,Ole Bornedal,"Bertram Bisgaard Enevoldsen, Ester Birch, Ella...",TV-MA,The Shadow in My Eye,...,NaN,107.0,16.008,NaN,2 wins & 13 nominations,NaN,NaN,1,1,1
2,6.3,"28,616",Walt Disney Pictures,United States of America,"English,French",Marc Lawrence,Marc Lawrence,"Anna Kendrick, Shirley MacLaine, Bill Hader",G,Noelle,...,NaN,100.0,10.040,48.0,1 win total,56.0,48.0,0,0,0
3,7.2,"1,755","Chapter 2, Moonshaker",France,French,Anthony Marciano,"Max Boublil, Anthony Marciano","Max Boublil, Alice Isaaz, Malik Zidi",Unknown,Play,...,NaN,108.0,5.214,NaN,1 nomination,NaN,NaN,1,1,1
4,8.3,"28,457",Unknown,United States of America,English,Stan Lathan,Dave Chappelle,Dave Chappelle,TV-MA,Dave Chappelle: Sticks & Stones,...,NaN,65.0,7.683,NaN,Won 3 Primetime Emmys. 4 wins & 5 nominations ...,42.0,NaN,1,0,1

In [73]:
# Column adjustment
new_columns = [col.split("__", 1)[-1] for col in transformed_data.columns]
transformed_data.columns = new_columns

iter_pipeline = Pipeline(steps=[
    # ('preprocessor', preprocessor),
    # ('dropper', dropper),
    ('iter_imputer', iter_imputer),
    # ('scaler', StandardScaler()),  # Optionally, scale after imputation.
    # ('encoder', OneHotEncoder(handle_unknown='ignore'))  # Optionally, if you need additional encoding.
])

transformed_data2 = iter_pipeline.fit_transform(transformed_data)

# Column adjustment
new_columns = [col.split("__", 1)[-1] for col in transformed_data2.columns]
transformed_data2.columns = new_columns

transformed_data2.head()

,metascore,rotten_tomatoes_rating,meta_critic_rating,imdb_rating,imdb_votes,production_company_name,production_country_name,spoken_languages,director,writer,...,tmdb_vote_average,genre_names,budget,revenue,runtime_in_min,tmdb_popularity,awards,metascore_missing,rotten_tomatoes_rating_missing,meta_critic_rating_missing
0,58.0,32.00000,58.0,5.1,"10,297",Apeitda,Others,"English,Others",Jung Byung-gil,"Jung Byung-gil, Byeong-sik Jung",...,6.000,"Action, Thriller, Crime",NaN,NaN,132.0,27.043,NaN,1.0,0.0,1.0
1,58.0,61.13853,58.0,7.3,"17,277",Miso Film,Others,Others,Ole Bornedal,Ole Bornedal,...,7.829,"War, Drama, History",NaN,NaN,107.0,16.008,2 wins & 13 nominations,1.0,1.0,1.0
2,48.0,56.00000,48.0,6.3,"28,616",Walt Disney Pictures,United States of America,"English,French",Marc Lawrence,Marc Lawrence,...,6.595,"Family, Comedy, Fantasy",NaN,NaN,100.0,10.040,1 win total,0.0,0.0,0.0
3,58.0,61.13853,58.0,7.2,"1,755","Chapter 2, Moonshaker",France,French,Anthony Marciano,"Max Boublil, Anthony Marciano",...,7.278,Comedy,NaN,NaN,108.0,5.214,1 nomination,1.0,1.0,1.0
4,58.0,42.00000,58.0,8.3,"28,457",Unknown,United States of America,English,Stan Lathan,Dave Chappelle,...,7.600,Comedy,NaN,NaN,65.0,7.683,Won 3 Primetime Emmys. 4 wins & 5 nominations ...,1.0,0.0,1.0

In [ ]:
preprocessor = ColumnTransformer(
    transformers=[
        ('zero', zero_pipeline, zero_cols),
        # ('median', median_pipeline, median_cols),
        ('cat', cat_pipeline, cat_cols),
        ('iter', iter_pipeline, iter_cols),
        ('drop_cols', 'drop', columns_to_drop)
    ],
    remainder='passthrough'
)

# Set output to pandas dataframe
preprocessor.set_output(transform='pandas')

transformed_data_3 = preprocessor.fit_transform(data)

# Column adjustment
new_columns = [col.split("__", 1)[-1] for col in transformed_data_3.columns]
transformed_data_3.columns = new_columns

transformed_data_3.head()

,imdb_rating,imdb_votes,production_company_name,production_country_name,spoken_languages,director,writer,actors,age_rating,metascore,...,tmdb_vote_average,genre_names,budget,revenue,runtime_in_min,tmdb_popularity,awards,metascore_missing,rotten_tomatoes_rating_missing,meta_critic_rating_missing
0,5.1,"10,297",Apeitda,Others,"English,Others",Jung Byung-gil,"Jung Byung-gil, Byeong-sik Jung","Joo Won, Kim Bo-min, Lee Sung-jae",TV-MA,58.0,...,6.000,"Action, Thriller, Crime",NaN,NaN,132.0,27.043,NaN,1,0,1
1,7.3,"17,277",Miso Film,Others,Others,Ole Bornedal,Ole Bornedal,"Bertram Bisgaard Enevoldsen, Ester Birch, Ella...",TV-MA,58.0,...,7.829,"War, Drama, History",NaN,NaN,107.0,16.008,2 wins & 13 nominations,1,1,1
2,6.3,"28,616",Walt Disney Pictures,United States of America,"English,French",Marc Lawrence,Marc Lawrence,"Anna Kendrick, Shirley MacLaine, Bill Hader",G,48.0,...,6.595,"Family, Comedy, Fantasy",NaN,NaN,100.0,10.040,1 win total,0,0,0
3,7.2,"1,755","Chapter 2, Moonshaker",France,French,Anthony Marciano,"Max Boublil, Anthony Marciano","Max Boublil, Alice Isaaz, Malik Zidi",Unknown,58.0,...,7.278,Comedy,NaN,NaN,108.0,5.214,1 nomination,1,1,1
4,8.3,"28,457",Unknown,United States of America,English,Stan Lathan,Dave Chappelle,Dave Chappelle,TV-MA,58.0,...,7.600,Comedy,NaN,NaN,65.0,7.683,Won 3 Primetime Emmys. 4 wins & 5 nominations ...,1,0,1

### Custom Top N Transformer

In [78]:
from sklearn.base import BaseEstimator, TransformerMixin

class TopCategoriesTransformer(BaseEstimator, TransformerMixin):
    """
    A custom transformer that groups multi-label categorical features by keeping the top N categories,
    replacing any other category with a specified label (e.g., "Others").
    """
    def __init__(self, column: str, top_n: int, delimiter: str = ",", others_label: str = "Others"):
        self.column = column
        self.top_n = top_n
        self.delimiter = delimiter
        self.others_label = others_label
        self.top_categories_ = None

    def fit(self, X, y=None):
        # Split and explode the column to get individual categories.
        exploded = X[self.column].dropna().str.split(rf"{self.delimiter}\s*").explode().str.strip()
        counts = exploded.value_counts()
        self.top_categories_ = counts.head(self.top_n).index.tolist()
        return self

    def transform(self, X):
        def map_categories(cell):
            if pd.isna(cell):
                return cell
            cats = [cat.strip() for cat in cell.split(self.delimiter)]
            # Replace categories not in top_categories_ with others_label.
            new_cats = [cat if cat in self.top_categories_ else self.others_label for cat in cats]
            # Remove duplicates while preserving order.
            seen = set()
            new_cats = [x for x in new_cats if x not in seen and not seen.add(x)]
            return self.delimiter.join(new_cats)
        
        X_transformed = X.copy()
        X_transformed[self.column] = X_transformed[self.column].apply(map_categories)
        return X_transformed

# Usage
genre_transformer = Pipeline(steps=[
    ('top_cat', TopCategoriesTransformer(column='production_country_name', top_n=5, delimiter=","))
])

In [79]:
# preprocessor = ColumnTransformer(
#     transformers=[
#         ('top_n', iterative_pipeline, iterative_cols),
#         ('median', median_pipeline, median_cols),
#         ('zero', zero_pipeline, zero_cols)
#     ],
#     remainder='passthrough'  # Include the rest of the columns as they are
# )

In [82]:
top_categories_cols = ["production_country_name", "spoken_languages"]

# Apply imputer
data["production_country_name"] = genre_transformer.fit_transform(data["production_country_name"])
data.head(30)

KeyError: 'production_country_name'

In [83]:
from sklearn.base import BaseEstimator, TransformerMixin
import pandas as pd

class GroupTopCategoriesTransformer(BaseEstimator, TransformerMixin):
    def __init__(self, top_values, delimiter=",", others_label="Others"):
        """
        Transformer for processing multi-label categorical columns by keeping only 
        the top_n categories and replacing others with a generic label.
        
        Args:
            top_values (dict): Dictionary mapping column names to their respective top_n value.
            delimiter (str): Delimiter used in multi-label columns.
            others_label (str): Label for less frequent categories.
        """
        self.top_values = top_values
        self.delimiter = delimiter
        self.others_label = others_label
        self.top_categories_dict = {}

    def fit(self, X, y=None):
        """
        Computes the top categories for each specified column based on frequency.
        """
        self.top_categories_dict = {}
        for column, top_n in self.top_values.items():
            if column in X:
                exploded = X[column].dropna().str.split(rf"{self.delimiter}\s*").explode().str.strip()
                counts = exploded.value_counts()
                self.top_categories_dict[column] = counts.head(top_n).index.tolist()
        return self

    def transform(self, X):
        """
        Applies the category grouping transformation.
        """
        X_transformed = X.copy()

        for column, top_categories in self.top_categories_dict.items():
            if column in X_transformed:
                X_transformed[column] = X_transformed[column].apply(self._map_categories, args=(top_categories,))
        
        return X_transformed

    def _map_categories(self, cell, top_categories):
        if pd.isna(cell):
            return cell
        cats = [cat.strip() for cat in cell.split(self.delimiter)]
        new_cats = [cat if cat in top_categories else self.others_label for cat in cats]
        seen = set()
        new_cats = [x for x in new_cats if x not in seen and not seen.add(x)]
        return self.delimiter.join(new_cats)

In [87]:
from sklearn.pipeline import Pipeline

top_values = {
    "production_country_name": 5,
    "spoken_languages": 5,
}

pipeline = Pipeline([
    ("group_top_categories", GroupTopCategoriesTransformer(top_values=top_values))
])

data_transformed = pipeline.fit_transform(data)
# data_transformed.head(30)

## Save cleanded data

In [52]:
# Saving cleaned dataset for future use
save_dataframe(data, "01_clean_data.csv")

✅ Data successfully saved to ./data\01_clean_data.csv with separator ','